.header-picture-area {
    height: 200px;
    gap: 5%;
}

#header-picture {
    height: 200px;
    width: 467px;
}

#logo {
    font-size: 3rem;
}

#slogan {
    font-size: 1rem;
}
.picture-text {
  padding: 0;
}
.header {
  padding-left: 0;
  padding-right: 0;
}
.nav {
  justify-content: center;
}
