.header-picture-area {
    flex-direction: column;
    justify-content: flex-start;
  height: 130px;
    gap: 0;
}

.picture-text {
    flex-direction: column;
    justify-content: flex-start;
    height: 130px;
    padding: 0;
}

#logo {
    font-size: 3rem;
}

#slogan {
    font-size: 1rem;
}

#header-picture {
    display: none;
}

.header-text {
    font-size: 1.2rem;
}
nav{
  flex-direction: column;
  height: 110px;
}
.nav-item {
  padding-top: 15px;
}
#nav-container {
  justify-content: center;
}
.nav-link {
    padding: 5px;
}
.nav-item > * {
  font-size: 1rem;
}
.header {
    padding: 0;
}

.header-text {
    padding-left: 10px;
    padding-right: 10px;
}

#weather-btc-container {
  flex-direction: column;
}
#btc {
  justify-content: center;
  max-width: 350px;
  width: 100%;
  padding: 15px;
}

#btc-name {
  font-size: 1.5rem;
}
#weather {
  width: 100%;
}
#weather-container1{
  padding: 5px;
}
#weather-container2{
  padding: 5px;
}
#weather-container3 {
  display: none;
}

#hsl-container {
  flex-direction: column;
}

.youre-here {
  height: 30px;
  font-size: 0.9rem;
  padding: 5px;
  padding-left: 10px;
}
.line-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 150px;
  justify-content: center;
  border: solid 1px var(--main-color-red);
  border-radius: 2px;
  padding: 10px;
}
.stop-name {
  font-size: 0.9rem;
}
.timetable-container > *{
  font-size: 0.8rem;
}
#map1 {
  height: 400px;
}
#cell-1btc > *, #cell-2btc > *, #cell-3btc > * {
  font-family: OpenSans-Regular, sans-serif;
  font-size: 1rem;
  padding-bottom: 3px;
}
#cell-1weather > *, #cell-2weather > *, #cell-3weather > *, #cell-4weather > *, #cell-5weather > *, #cell-6weather > * {
  font-family: OpenSans-Regular, sans-serif;
  font-size: 1rem;
  padding-bottom: 3px;
}
