.header-picture-area {
    flex-direction: column;
    justify-content: flex-start;
  height: 130px;
    gap: 0;
}

.picture-text {
    flex-direction: column;
    justify-content: flex-start;
    height: 130px;
    padding: 0;
}

#logo {
    font-size: 3rem;
}

#slogan {
    font-size: 1rem;
}

#header-picture {
    display: none;
}

.header-text {
    font-size: 1.2rem;
}
nav{
  flex-direction: column;
  height: 110px;
}
.nav-item {
  padding-top: 15px;
}
#nav-container {
  justify-content: center;
}
.nav-link {
    padding: 5px;
}
.nav-item > * {
  font-size: 1rem;
}
.header {
    padding: 0;
}

.header-text {
    padding-left: 10px;
    padding-right: 10px;
}

#container5 {
  flex-direction: column;
}
#btc {
  justify-content: center;
  align-items: center;
}
#btc > * {
  font-size: 1rem;
}
#btc-name {
  font-size: 1.2rem;
}
#weather {
  justify-content: center;
}
#weather-container2{
  padding: 5px;
  padding-top: 50px;
}
#weather-container2 > * {
font-size: 1rem;
}
#weather-container3 {
  display: none;
}

#container4 {
  flex-direction: column;
}

.youre-here {
  height: 30px;
  font-size: 0.9rem;
  padding: 5px;
  padding-left: 10px;
}
.line-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 150px;
  justify-content: center;
  border: solid 1px var(--main-color-red);
  border-radius: 2px;
  padding: 10px;
}
.stop-name {
  font-size: 0.9rem;
}
.timetable-container > *{
  font-size: 0.8rem;
}
#map1 {
  height: 400px;
}
