@font-face {
  font-family: Lato-Bold;
  src: url(../Fonts/Lato-Bold.ttf);
  font-display: swap
}

@font-face {
  font-family: Lato-Regular;
  src: url(../Fonts/Lato-Regular.ttf);
  font-display: swap
}

@font-face {
  font-family: RobotoSlab-ExtraBold;
  src: url(../Fonts/RobotoSlab-ExtraBold.ttf);
  font-display: swap
}

@font-face {
  font-family: RobotoSlab-Regular;
  src: url(../Fonts/RobotoSlab-Regular.ttf);
  font-display: swap
}

:root {
  --main-color-white: #FFFFFF;
  --main-color-green: #43E04F;
  --main-color-red: #940E3F;
  --main-color-blue: #9BADBF;
  --main-color-black: #000000;
  --main-color-grey: #343A40;
  --supp-color-dgreen: #1D9426;
  --supp-color-lgreen: #65FF71;
  --supp-color-red: #B43362;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.4;
  font-size: 1rem;
}

html {
  padding-top: 10px;
  background-color: var(--main-color-white);
}

body {
  max-width: 1100px;
  margin: auto;
  min-height: 100vh;
  font-family: Lato-Regular, sans-serif;
  color: var(--main-color-black);
}

.header {
  padding-left: 10px;
  padding-right: 10px;
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "nav nav search"
    "picture picture picture"
    "header header header";
}

nav {
  grid-area: nav;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  height: 50px;
  gap: 30px;
}

.nav-item {
  display: flex;
  align-items: center;
  padding: 5px;
}

.nav-link {
  font-family: Lato-Bold, sans-serif;
  font-size: 1.3rem;
  padding: 10px;
  text-decoration: none;
  transition: color, background-color .2s ease-in-out;
  border-radius: 10px;
  color: var(--main-color-red);
}

.nav-link:hover {
  background-color: var(--main-color-red);
  color: white;
}

.nav-link:active {
  background-color: var(--supp-color-red);
}

.search {
  padding: 10px;
  grid-area: search;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-basis: 400px;
}

#search-input {
  height: 35px;
  border-radius: 10px;
  border-width: 1px;
  flex-basis: 80%;
  padding: 5px 5px 5px 35px;
  border-color: var(--main-color-red);
  background-color: var(--main-color-white);
  color: var(--main-color-black);
}

#search-icon {
  position: relative;
  left: 30px;
  top: 2px;
  height: 27px;
  width: 27px;
  fill: var(--main-color-red);
}

.header-picture-area {
  grid-area: picture;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: var(--main-color-green);
}

#logo {
  font-family: RobotoSlab-ExtraBold, sans-serif;
  font-size: 4rem;
  color: var(--main-color-black);
}

#slogan {
  font-family: RobotoSlab-Regular, sans-serif;
  font-size: 1.5rem;
  text-align: center;
  color: var(--main-color-black);
}

.picture-text {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#header-picture {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
}

.header-text {
  font-family: Lato-Regular, sans-serif;
  font-size: 1.5rem;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  text-align: center;
  grid-area: header;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-color-black);
}

.header-text h2 {
  padding: 10px;
  font-size: 1.8rem;
  line-height: 1.4;
  max-width: 90%;
  text-align: center;
  color: var(--main-color-black);
}

.main {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 20px;
}

.restaurant-card {
  height: fit-content;
  border: 1px solid var(--main-color-red);
  border-radius: 10px;
  font-size: 30px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  color: var(--main-color-black);
}

.restaurant-image {
  border-width: 1px;
  padding: 10px;
  max-width: 150px;
  max-height: 150px;
}

.restaurant-info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.restaurant-name {
  gap: 5px;
  font-family: Lato-Bold, sans-serif;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 150px;
  color: var(--main-color-black);
}

.restaurant-name > * {
  font-size: 1.4rem;
  color: var(--main-color-black);
}

.location-pin {
  height: 30px;
  width: 30px;
}

.location-pin:hover {
  transform: scale(1.1);
  fill: var(--main-color-green);
}

.course-number {
  font-family: Lato-Regular, sans-serif;
  font-size: 13px;
  margin-top: 7px;
  color: var(--main-color-black);
}

.course-name {
  font-family: Lato-Regular, sans-serif;
  font-size: 13px;
  color: var(--main-color-black);
}

.course-price {
  font-family: Lato-Regular, sans-serif;
  font-size: 13px;
  color: var(--main-color-black);
}

#add-restaurant {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#add-button {
  width: 40px;
  height: 40px;
  padding-top: 7px;
  fill: var(--main-color-blue)
}

#add-button:hover {
  fill: var(--main-color-grey)
}

#add-button:active {
  fill: var(--main-color-red)
}

#add-text {
  text-align: center;
}

footer {
  margin-top: 50px;
  height: 50px;
  background-color: var(--main-color-green);
}

#nav-button {
  background-image: url("../Images/navigaatio-ikoni.png");
  background-size: cover;
  margin-top: 10px;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  display: none;
}

#nav-box {
  background-color: white;
  position: absolute;
  z-index: 1;
  height: fit-content;
  min-width: 200px;
  width: fit-content;
  left: 0;
  top: 50px;
  display: none;
  flex-direction: column;
  padding: 10px;
  box-shadow: 2px 2px 5px -2px black;
}

#nav-button:hover > * {
  display: flex;
}

.nav-item2 {
  display: flex;
  align-items: center;
  padding: 5px;
}

#container {
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 5px;
}

#container2 {
  margin: auto;
  max-width: 1000px;
  display: flex;
  justify-content: space-around;
}

#container3 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--main-color-blue);
  border: solid 1px var(--main-color-red);
  border-radius: 10px;
  padding: 20px;
  margin: 50px auto;
  box-shadow: 2px 2px 10px -5px black;
  max-width: 90%;
}

#restaurant-sodexo {
  background-color: var(--main-color-green);
}


button {
  margin: 10px;
  width: 100px;
  height: 50px;
  border-radius: 5px;
  background-color: var(--supp-color-lgreen);
  color: var(--main-color-black);
  box-shadow: 2px 2px 10px -5px black;
}

.buttons {
  display: flex;
  margin: auto;
  justify-content: center;
}

@media screen and (max-width: 470px) {
  .buttons {
    flex-direction: column;
  }
}
