@font-face {
  font-family: OpenSans-Regular;
  src: url(../Fonts/OpenSans-Regular.ttf);
  font-display: swap
}

@font-face {
  font-family: RobotoSlab-Regular;
  src: url(../Fonts/RobotoSlab-Regular.ttf);
  font-display: swap
}

::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

:root {
  --main-color-white: #FFFFFF;
  --main-color-black: #000000;

  --main-color-orange: #ff5000;
  --main-color-grey: #53565a;

  --main-color-red: #cb2228;
  --main-color-blue: #4046a8;
  --main-color-yellow: #fff000;

  --main-color-pink: #e384c4;
  --main-color-teal: #5db1e4;
  --main-color-turqoise: #3ba88f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.4;
  font-size: 1rem;
}

html {
  background-color: var(--main-color-white);
}

body {
  max-width: 1920px;
  width: 100%;
  margin: auto;
  font-family: OpenSans-Regular, sans-serif;
  color: var(--main-color-black);

  overflow: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.header {
  max-width: 1920px;
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "picture picture picture"
    "header header header"
    "nav nav nav";
}

nav {
  display: flex;
  grid-area: nav;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  height: 60px;
  gap: 30px;
}

#nav-container {
  display: flex;
  flex-direction: row;
}

.nav-item {
  display: flex;
  align-items: center;
  padding: 5px;
}



.nav-link {
  font-family: RobotoSlab-Regular, sans-serif;
  font-size: 1.3rem;
  padding: 10px;
  text-decoration: none;
  transition: color, background-color .2s ease-in-out;
  border-radius: 2px;
  color: var(--main-color-black);
}

.nav-link:hover {
  background-color: var(--main-color-orange);
  color: white;
}

.nav-link:active {
  background-color: var(--main-color-red);
}

.header-picture-area {
  grid-area: picture;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: var(--main-color-orange);
}

#logo {
  font-family: RobotoSlab-Regular, sans-serif;
  font-size: 5rem;
  font-weight: bolder;
  color: var(--main-color-white);
  margin-left: 50px;
}

.picture-text {
  padding-right: 100px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

#header-picture {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
}

#header-picture-container {
  margin-right: -1px;
}

.restaurant-card {
  height: 840px;
  border-radius: 2px;
  font-size: 30px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 10px 10px 250px;
  color: var(--main-color-black);
  justify-content: center;
  flex-wrap: wrap;

  border: solid 1px var(--main-color-black);
  box-shadow: 2px 2px 10px -5px var(--main-color-black);
  margin: 10px;
}

.restaurant-title {
  font-family: RobotoSlab-Regular, sans-serif;
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.date {
  font-family: OpenSans-Regular, sans-serif;
  font-size: 1rem;
}

.price-description {
  font-family: OpenSans-Regular, sans-serif;
  font-size: 1rem;
}

.course-category {
  font-family: RobotoSlab-Regular, sans-serif;
  font-size: 1rem;
  margin-top: 10px;
  margin-bottom: 5px;
  color: var(--main-color-black);
}

.course-name {
  font-family: OpenSans-Regular, sans-serif;
  font-size: 0.9rem;
  color: var(--main-color-black);
}

.course-price {
  font-family: OpenSans-Regular, sans-serif;
  font-size: 0.9rem;
  color: var(--main-color-black);
}

#add-restaurant {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

button {
  margin: 10px 5px 5px;
  width: 80px;
  height: 40px;
  border-radius: 2px;
  background-color: var(--main-color-orange);
  color: var(--main-color-white);
  font-weight: bold;
  transition: color, background-color 0.2s ease-in-out;
}

button:hover {
  background-color: var(--main-color-red);
}

.buttons {
  display: flex;
  margin: auto;
  justify-content: flex-end;
}

#hsl-data {
  display: flex;
  flex-direction: column;
}

.youre-here {
  border-color: var(--main-color-black);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-family: RobotoSlab-Regular, sans-serif;
  font-size: 1.5rem;
  border-radius: 2px;
  padding: 10px 10px 10px 20px;
  height: 60px;
}

.line-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 195px;
  justify-content: center;
  border: solid 1px var(--main-color-red);
  border-radius: 2px;
  padding: 10px 20px;
}

.stop-name {
  font-family: RobotoSlab-Regular, sans-serif;
  font-size: 1.5rem;
  padding-bottom: 5px;
}

.timetable-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.route-info {
  font-family: OpenSans-Regular, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  padding-bottom: 2px;
  flex: 1;
}

.route-destination {
  font-family: OpenSans-Regular, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  padding-bottom: 2px;
  padding-left: 5px;
  flex: 7;
}

.route-time {
  font-family: OpenSans-Regular, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  padding-bottom: 2px;
  flex: 1;
}

#map1 {
  width: 100%;
  max-width: 1162px;
  height: 840px;
}

#btc {
  display: flex;
  flex-direction: column;
  flex: 2;
  padding: 0 40px 40px;
}

#btc-name {
  font-family: RobotoSlab-Regular, sans-serif;
  font-size: 1.5rem;
  padding-bottom: 5px;
}

.timestamp {
  font-family: OpenSans-Regular, sans-serif;
  font-size: 1.2rem;
  padding-bottom: 3px;
}

.volume {
  font-family: OpenSans-Regular, sans-serif;
  font-size: 1.2rem;
  padding-bottom: 3px;
}

.price {
  font-family: OpenSans-Regular, sans-serif;
  font-size: 1.2rem;
  padding-bottom: 3px;
}

.market-cap {
  font-family: OpenSans-Regular, sans-serif;
  font-size: 1.2rem;
  padding-bottom: 3px;
}

#weather {
  padding: 40px;
  flex: 3;
  display: flex;
  flex-direction: column;
}

.location {
  font-family: RobotoSlab-Regular, sans-serif;
  font-size: 1.8rem;
  height: 100px;
  padding-top: 30px;
}

.weather-image {
  width: 100px;
  height: 100px;
}

#weather-container1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#weather-container2 > * {
  font-family: OpenSans-Regular, sans-serif;
  font-size: 1.2rem;
  padding-bottom: 3px;
}

#carousel-fi {
  width: 1562px;
  height: 840px;
  position: relative;
}

#carousel-en {
  width: 1562px;
  height: 840px;
  position: relative;
}

.powerpoint {
  position: absolute;
  top: 0;
  left: 35px;
  display: none;
  width: 1490px;
}

#signage-container {
  display: flex;
  flex-direction: row;
}

#signage-cell1 {
  display: flex;
  flex: 5;
  flex-direction: column;
}

.active {
  display: block;
}

#lunch-container {
  margin-left: auto;
  margin-right: auto;
  height: 840px;
  max-width: 1920px;
  width: 100%;
  display: none;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
}

#hsl-container {
  visibility: visible;
  flex-direction: row;
  border: solid 1px var(--main-color-black);
  box-shadow: 2px 2px 10px -5px var(--main-color-black);
  margin: 10px;
  padding: 0;
  display: flex;
}

#carousel-container {
  height: 840px;
  display: none;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 10px;
  padding: 0;
}

#weather-btc-container {
  background-color: var(--main-color-white);
  display: flex;
  flex-direction: column;
  height: 840px;
  border: solid 1px var(--main-color-black);
  box-shadow: 2px 2px 10px -5px var(--main-color-black);
  margin: 10px;
  flex: 1;
}

.restaurant-title-fazer {
  font-family: RobotoSlab-Regular, sans-serif;
  font-size: 2rem;
  margin-bottom: 10px;
}

.date-fazer {
  font-family: OpenSans-Regular, sans-serif;
  font-size: 1.5rem;
}

.price-description-fazer {
  font-family: OpenSans-Regular, sans-serif;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.course-name-fazer {
  font-family: OpenSans-Regular, sans-serif;
  font-size: 1.4rem;
  color: var(--main-color-black);
}

.course-price-fazer {
  font-family: OpenSans-Regular, sans-serif;
  font-size: 1.4rem;
  color: var(--main-color-black);
  margin-bottom: 20px;
}

.course-category-fazer {
  font-family: RobotoSlab-Regular, sans-serif;
  font-size: 1.4rem;
  margin-top: 10px;
  margin-bottom: 5px;
  color: var(--main-color-black);
}

#cell-1btc, #cell-2btc, #cell-3btc  {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#cell-1weather, #cell-2weather, #cell-3weather, #cell-4weather, #cell-5weather, #cell-6weather {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
