@font-face {
  font-family: OpenSans-Regular;
  src: url(../Fonts/OpenSans-Regular.ttf);
  font-display: swap
}

@font-face {
  font-family: RobotoSlab-Regular;
  src: url(../Fonts/RobotoSlab-Regular.ttf);
  font-display: swap
}

:root {
  --main-color-white: #FFFFFF;
  --main-color-black: #000000;

  --main-color-orange: #ff5000;
  --main-color-grey: #53565a;

  --main-color-red: #cb2228;
  --main-color-blue: #4046a8;
  --main-color-yellow: #fff000;

  --main-color-pink: #e384c4;
  --main-color-teal: #5db1e4;
  --main-color-turqoise: #3ba88f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.4;
  font-size: 1rem;
}

html {
  background-color: var(--main-color-white);
}

body {
  max-width: 1100px;
  margin: auto;
  min-height: 100vh;
  font-family: OpenSans-Regular, sans-serif;
  color: var(--main-color-black);
}

.header {
  padding-left: 10px;
  padding-right: 10px;
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "picture picture picture"
    "header header header"
    "nav nav nav";
}

nav {
  grid-area: nav;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  height: 60px;
  gap: 30px;
}
#nav-container {
  display: flex;
  flex-direction: row;
}
.nav-item {
  display: flex;
  align-items: center;
  padding: 5px;
}

.nav-link {
  font-family: RobotoSlab-Regular, sans-serif;
  font-size: 1.3rem;
  padding: 10px;
  text-decoration: none;
  transition: color, background-color .2s ease-in-out;
  border-radius: 5px;
  color: var(--main-color-black);
}

.nav-link:hover {
  background-color: var(--main-color-orange);
  color: white;
}

.nav-link:active {
  background-color: var(--main-color-red);
}

.search {
  margin-left: -22px;
  width: 350px;
  padding: 10px;
  padding-bottom: 0;
  grid-area: search;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#search-input {
  width: 350px;
  height: 35px;
  border-radius: 5px;
  border-width: 1px;
  padding: 5px 5px 5px 35px;
  border-color: var(--main-color-black);
  background-color: var(--main-color-white);
  color: var(--main-color-black);
}

#search-icon {
  position: relative;
  left: 30px;
  top: 2px;
  height: 27px;
  width: 27px;
  fill: var(--main-color-red);
}

.header-picture-area {
  grid-area: picture;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: var(--main-color-orange);
}

#logo {
  font-family: RobotoSlab-Regular, sans-serif;
  font-size: 4rem;
  font-weight: bolder;
  color: var(--main-color-white);
}

#slogan {
  font-family: RobotoSlab-Regular, sans-serif;
  font-size: 1.5rem;
  text-align: center;
  color: var(--main-color-white);
}

.picture-text {
  padding-right: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#header-picture {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
}


#header-picture-container {
  margin-right: -1px;
}

.lunch-container {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 20px;
}

.restaurant-card {

  height: fit-content;
  border-radius: 5px;
  font-size: 30px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  color: var(--main-color-black);

  border: solid 1px var(--main-color-black);
  box-shadow: 2px 2px 10px -5px var(--main-color-black);
  margin: 10px;
}

.restaurant-title {
  font-family: RobotoSlab-Regular, sans-serif;
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.date {
  font-family: OpenSans-Regular, sans-serif;
  font-size: 1rem;
}

.price-description {
  font-family: OpenSans-Regular, sans-serif;
  font-size: 1rem;
}

.course-category {
  font-family: RobotoSlab-Regular, sans-serif;
  font-size: 1rem;
  margin-top: 15px;
  margin-bottom: 5px;
  color: var(--main-color-black);
}

.course-name {
  font-family: OpenSans-Regular, sans-serif;
  font-size: 0.9rem;
  color: var(--main-color-black);
}

.course-price {
  font-family: OpenSans-Regular, sans-serif;
  font-size: 0.9rem;
  color: var(--main-color-black);
}

#add-restaurant {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
footer {
  margin-top: 20px;
  height: 50px;
  background-color: var(--main-color-orange);
}


#container {
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 5px;
}

button {
  border-width: 0;
  margin: 10px 5px 5px;
  width: 80px;
  height: 45px;
  border-radius: 5px;
  background-color: var(--main-color-orange);
  box-shadow: 0 0 4px -2px var(--main-color-orange);
  color: var(--main-color-white);
  transition: color, background-color 0.2s ease-in-out;
  font-size: 1.2rem;
}

button:hover {
  background-color: var(--main-color-red);
}

.buttons {
  display: flex;
  margin: auto;
  justify-content: flex-end;
}

#hsl-container {
  display: flex;
  flex-direction: row;
  border: solid 1px var(--main-color-black);
  box-shadow: 2px 2px 10px -5px var(--main-color-black);
  border-radius: 4px;
  margin: 10px;
  padding: 0;
}

#hsl-data {
  display: flex;
  flex-direction: column;
}

.youre-here {
  border-color: var(--main-color-black);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-family: RobotoSlab-Regular,sans-serif;
  font-size: 1.5rem;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
}

.line-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 200px;
  justify-content: center;
  padding: 10px;
  padding-left: 20px;
}
.stop-name {
  font-family: RobotoSlab-Regular,sans-serif;
  font-size: 1.5rem;
  padding-bottom: 5px;
}
.timetable-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.route-info {
  font-family: OpenSans-Regular,sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  padding-bottom: 2px;
  flex: 1;
}
.route-destination {
  font-family: OpenSans-Regular,sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  padding-bottom: 2px;
  padding-left: 5px;
  flex: 7;
}
.route-time {
  font-family: OpenSans-Regular,sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  padding-bottom: 2px;
  flex: 1;
}

#map1 {
  width: 100%;
  max-width: 678px;
  height: 850px;

}
#weather-btc-container {
  background-color: var(--main-color-white);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 5px;
  border: solid 1px var(--main-color-black);
  box-shadow: 2px 2px 10px -5px var(--main-color-black);
  margin: 10px;
  margin-top: 50px;
}
#btc {
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 400px;
}
#btc-name {
  font-family: RobotoSlab-Regular, sans-serif;
  font-size: 1.5rem;
  padding-bottom: 5px;
}
.timestamp {
  font-family: OpenSans-Regular, sans-serif;
  font-size: 1.2rem;
  padding-bottom: 10px;
}

#weather {
  padding: 10px;
  display: flex;
  flex-direction: row;
  width: 500px;
}
.location {
  font-family: RobotoSlab-Regular, sans-serif;
  font-size: 1.5rem;
  padding-bottom: 5px;
}
.weather-image {
  width: 100px;
  height: 100px;
}
#weather-container1 {
  padding: 20px;
  width: fit-content;
}
#weather-container2 {
  padding: 20px;
  width: 300px;
}
#weather-container2 > *{
  font-family: OpenSans-Regular, sans-serif;
  font-size: 1.2rem;
  padding-bottom: 3px;
}
#weather-container3 > *{
  font-family: OpenSans-Regular, sans-serif;
  font-size: 1.2rem;
  padding-bottom: 3px;
}

#carousel-container {
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 0;
}
#carousel-fi{
  max-width: 1100px;
  width: 100%;
  height: 615px;
  position: relative;
  overflow: hidden;
}
#carousel-en{
  max-width: 1100px;
  width: 100%;
  height: 615px;
  position: relative;
  overflow: hidden;
}

.powerpoint {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
}

.active {
  display: block;
}

#cell-1btc, #cell-2btc, #cell-3btc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#cell-1btc > *, #cell-2btc > *, #cell-3btc > * {
  font-family: OpenSans-Regular, sans-serif;
  font-size: 1.2rem;
  padding-bottom: 3px;
}

#cell-1weather, #cell-2weather, #cell-3weather, #cell-4weather, #cell-5weather, #cell-6weather {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#cell-1weather > *, #cell-2weather > *, #cell-3weather > *, #cell-4weather > *, #cell-5weather > *, #cell-6weather > * {
  font-family: OpenSans-Regular, sans-serif;
  font-size: 1.2rem;
  padding-bottom: 3px;
}
