body {
  margin: 10%;
}
#touch-box {
  border: solid 1px black;
  width: fit-content;
  height: fit-content;
  padding: 30px;
  margin: 10px;
  background-color: antiquewhite;
}
.mouse-dbl-click {
  border: solid 1px black;
  width: fit-content;
  height: fit-content;
  padding: 30px;
  margin: 10px;
  background-color: aquamarine;
}
